<li id="post-<%= post._id %>">
    <p>
        <% if(locals.user && locals.user.id == post.user.id){ %>
        <small id="delete">
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">
                X
            </a>
        </small>
        <%}%>
        <%= post.content %>
        <br>
       <small> <%= post.user.name %> <sub>Questioned</sub> </small>
       <br>
       <small>
           <% if(locals.user){%>
            <a class="toggle-like-button" data-likes="<%=  post.likes.length %>" href="/likes/toggle/?id=<%= post._id%>&type=Post">
                <%=   post.likes.length  %><i class="far fa-heart"></i>
            </a>
            <%}else{%>
                <%=   post.likes.length  %><i class="far fa-heart"></i>
            <%}%>
       </small>
    </p>
    <div id="post-comments">
        <% if (locals.user){ %>
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Answer...">
                <input type="hidden" name="post" value="<%= post._id%>">
                <input type="submit" value="Answer">
            </form>
        <%}%>

        <div class="post-comments-list">
                <ul id="post-comments-<%= post._id %>">
                    <li>
                    <% for (comment of post.comments) {%>
                        <%- include('_comment') -%>
                    <%}%>
                </li>
                </ul>
        </div>
    </div>
</li>   